{% extends 'core/base.html' %}

{% block title %}Contactos{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
     <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Contáctanos para elabarar tu proyecto personal, institucional y/o profesional, disponibilidad 24/7. Para comunicarte con nuestro equipo de trabajo o con mi persona, contáctanos en los siguientes enlaces...</p>
          <br>
          <p><b>E-Mail Personal:</b> <a href="mailto: juanperez97@gmail.com">juanperez97@gmail.com</a></p>
          <p><b>E-Mail Institucional:</b> <a href="mailto: jperez1283@utm.edu.ec">jperez1283@utm.edu.ec</a></p>
          <p><b>Teléfono:</b> +593 9 683 683 76</p>
          <p><b>Honorarios:</b> $60/h (precio base)</p>
        </div>
      </div>
    </div>
{% endblock %}


        